.cases-landing, .diensten-landing, .contact-form, .quote-tekst, .contact-container, .overons-pagina, .cases-pagina{
    margin-left: 5em;
    margin-right: 5em;
}
.carousel-container, .carousel-styling{
    margin-left: 12%;
}

